---
layout: default
---

<div class="home">
    <ul class="posts">
		<li>
			{% include about.html %}
		</li>
		<li>
			{% include application.html %}
		</li>	
		<li>
			{% include code.html %}	
		</li>	
		<!--<li>
			{% include data.html %}
		</li>-->
		<!--<li>
			{% include publication.html %}
		</li>-->
	</ul>
</div>

<div>
	<p><b>Current/Final Results (summary)</b></p>
The results indicate that fear appeals (threat and protection) and risk communication (risk and benefit) lead to a positive effect on unverified message’s propagation signifying error-proneness, while emotion analysis (anxiety and hope) is associated with a negative effect on unverified message’s propagation denoting error-resistance. In addition, health information (medical, strategies and actions) is related to error-proneness, while crisis communication (crisis, accidents and alerts) leads to error-resistance. Furthermore, messages from organizations as well as spatially distant from location of incidence resist the propagation of erroneous information while network-related characteristics (hashtag and followers) increase the propagation.<br><br>

<p><b>Publications</b></p>
<p><b>Accepted</b></p>
<i>Dutta, H., Kwon, K. H., & Rao, H. R. (2018). A system for intergroup prejudice detection: The case of microblogging under terrorist attacks. Decision Support Systems, 113, 11-21.</i><br><br>
<i>Oh, O., Gupta, P., Agrawal, M., & Rao, H. R. (2018). ICT mediated rumor beliefs and resulting user actions during a community crisis. Government Information Quarterly, 35(2), 243-258.</i><br><br>
<i>Volety, T., Valecha, R., Vemprala, N., Kwon, H., Rao, H. R. (2018). Cyber-rumor Sharing: The Case of Zika Virus. Proceedings of American Conference on Information Systems (AMCIS) 2018. New Orleans, Louisiana.</i><br><br>
<i>Kwon, K. H., & Rao, H. R. (2017). Cyber-rumor sharing under a homeland security threat in the context of government Internet surveillance: The case of South-North Korea conflict. Government Information Quarterly, 34(2), 307-316.</i><br><br>
<i>Valecha, R., Volety, T., Vemprala, N., Kwon, H., Rao, H. R. (2017). An Investigation of Cyber-Rumor Sharing: The Case of Zika Virus. Workshop on Bright Internet and Global Trust Building (BIG) 2017. Seoul, South Korea.</i><br><br>

<p><b>Under Review/Under Preparation</b></p>
<i>Krishnarao, S. S., Valecha, R., Agrawal, M., Rao, H. R. (Under Preparation). Emotional Analysis of Cyber-Rumor Sharing: A Coping Theory Approach. Workshop on Information Security and Privacy (WISP) 2019. Munich, Germany.</i><br><br>
<i>Tran, T., Valecha, R., Najafirad, P., Rao, H. R. (Under Preparation). Taxonomy of Misinformation Harms from Social Media in Humanitarian Crises. International Conference on Secure Knowledge Management (SKM) 2019. Goa, India.</i><br><br>
<i>Volety, T., Valecha, R., Kwon, H., Rao, H. R. (Under Review). The Effect of Threat and Proximity on Cyber-Rumor Sharing. Conference on Information Systems and Technology (CIST) 2019. Seattle, Washington.</i><br><br>

<p><b>Data (with documentation)</b></p>
<a href="https://usf.box.com/s/psl0wnorpf1lpug7py65xf1d6bagcac2">Health variables</a><br>
<a href="https://usf.box.com/s/aeosk9ptf3yajczko7kj551x3qsgdkzj">LIWC variables</a><br><br>
	
<p>We have used <a href="https://www.mturk.com/">Mechanical Turk</a>, a service provided by Amazon, to collect tweets.</p>
<a class="page-link" href="{{ "/design.html" | prepend: site.baseurl }}">See our tweet collection template</a><br>
<a class="page-link" href="https://github.com/AmbiguityISMLab/AmbiguityISMLab.github.io/blob/master/data.csv">Tweets we collected</a><br>
<a class="page-link" href="https://github.com/AmbiguityISMLab/AmbiguityISMLab.github.io/blob/master/RumorCoding.csv">Boston rumor data file</a>


</div>
