<p>About</p>
<p><img src="/img/about.jpg" height="42" width="42">
	When reading a text, things can get ambiguous. 
	Reading is different than listening or seeing because the context cannot
	be felt, whereas while listening or viewing one can feel the context much better.
	We read loads of messages on social media, many of them, ambiguous. Our goal here is to find this ambiguity.
	Twitter is a social media channel, a microblogging service, that depends highly on text and less on media. 
	Hence, we chose twitter for our research.
</p>
<a class="post-link" href="{{ "http://ambiguity.ismlab.usf.edu/ap.ww/abtus.html" }}">Know more about the project.</a>