This project seeks to understand how error messages are propagated over large-scale information networks and what content-related cues or network-related features make certain error messages more error-resistant or error-prone than others. The results of the project have the potential to help build a platform that accurately identifies errors being propagated on an information network and effectively manages such error propagation.<br><br>

<p><b>About</b></p>
<p><img src="/img/about.png" height="160" width="240" align="left">
	When reading a text, things can get ambiguous. 
	Reading is different because the context cannot
	be felt, whereas while listening or viewing one can feel the context much better.
	We read loads of messages on social media, many of them, ambiguous. Our goal here is to find this ambiguity.<br>
	Twitter is a social media channel, a microblogging service, that depends highly on text and less on media. 
	Hence, we chose twitter for our research.
</p>
<a class="page-link" href="{{ "http://ambiguity.ismlab.usf.edu/ap.ww/abtus.html" }}">Know more about the project.</a>
