<p><b>Data</b></p>
<p>We have used <a href="https://www.mturk.com/">Mechanical Turk</a>, a service provided by Amazon, to collect tweets.</p>
<a class="page-link" href="{{ "/design.html" | prepend: site.baseurl }}">See our tweet collection template</a><br>
<a class="page-link" href="https://github.com/AmbiguityISMLab/AmbiguityISMLab.github.io/blob/master/data.csv">Tweets we collected</a>
<a class="page-link" href="https://github.com/AmbiguityISMLab/AmbiguityISMLab.github.io/blob/master/RumorCoding.csv">Boston rumor data file</a>