<meta content="width=device-width,initial-scale=1" name="viewport" />
<section class="container" id="WebsiteDataCollection"><!-- Instructions -->
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="panel panel-primary"><!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature --><a class="panel-heading" href="javascript:void(0);" id="collapseTrigger"><strong>Website data collection - Must read the Instructions</strong> <span class="collapse-text">(Click to expand)</span> </a>
<div class="panel-body" id="instructionBody">
<p>Hunt an <strong>Ambiguous Tweet </strong>which meets the following <strong>Qualifying Conditions</strong>:</p>

<p><strong>Instructions:</strong></p>

<ol>
	<li>Select an ambiguous tweet. An ambiguous tweet is open to more than one different interpretation or meaning.</li>
	<li>Use the&nbsp;<strong>URL: <a href="http://ambiguity.ismlab.usf.edu" target="_blank">http://ambiguity.ismlab.usf.edu</a></strong>&nbsp;to verify the parse trees and their probabilities.</li>
	<li>Paste the tweet in the textbox and click on Get Parse Trees. Note the Probability 1 and 2 shown below the trees.</li>
	<li>The tweet&nbsp;<strong>must be</strong>&nbsp;from a&nbsp;<strong>verified&nbsp;</strong>account (meaning the account has a blue verified badge on Twitter)</li>
	<li>The language for the tweets is&nbsp;<strong>restricted</strong>&nbsp;to English and the submission&nbsp;needs&nbsp;to be&nbsp;<strong>Single Sentence</strong>.</li>
	<li>You can provide&nbsp;<strong>at most</strong>&nbsp;<strong>two</strong>&nbsp;tweets from the same account.</li>
	<li>The tweets selected should be&nbsp;<strong>complete sentences</strong>&nbsp;which are grammatically correct. Tweets which are sentence fragments or phrases are not accepted.</li>
	<li>Any tweets&nbsp;wherein&nbsp;the content are&nbsp;<strong>obscene, abusive and defamatory</strong>&nbsp;will be rejected.</li>
	<li>You must provide&nbsp;<strong>at least</strong>&nbsp;<strong>two</strong>&nbsp;different interpretations of the Tweet.</li>
	<li>You are expected&nbsp;to score each Interpretation on a scale of 1-10. [1=Least Likely and 10=Most Likely]</li>
	<li>The tweet interpretation&nbsp;<strong>should not be ambiguous solely based on context</strong>.</li>
	<li>Below are examples of tweets that would be <strong>accepted</strong>:&nbsp;</li>
</ol>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<ul>
				<li>
				<h6>The sheriff caught the man with a gun.</h6>
				</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<p style="margin-left: 1in;"><strong><em>Interpretations</em></strong>:</p>

<p style="margin-left: 1in;">1. The sheriff used the gun to catch the man.</p>

<p style="margin-left: 1in;">&nbsp;2.&nbsp; The sheriff caught the man carrying a gun.</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<ul>
				<li>
				<h6>The mayor asked the police to stop drinking.&nbsp;</h6>
				</li>
			</ul>
			</td>
			<td>
		</tr>
	</tbody>
</table>

<p style="margin-left: 1in;"><strong><em>&nbsp;Interpretations</em></strong>:</p>

<p style="margin-left: 1in;">1. The mayor asked the police to arrest drunks.</p>

<p style="margin-left: 1in;">2. The mayor asked the police to be sober on the job.</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<ul>
				<li>
				<h6>I still don't get micellar water.&nbsp;</h6>
				</li>
			</ul>
			</td>
			<td>
		</tr>
	</tbody>
</table>

<p style="margin-left: 1in;"><strong><em>&nbsp;Interpretations</em></strong>:</p>

<p style="margin-left: 1in;">1. I still don't understand the meaning of micellar water.</p>

<p style="margin-left: 1in;">2. I still don't receive micellar water.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;11. Below are examples of tweets that would be <strong>rejected</strong>:</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>
			<ul>
				<li>
				<h6>Two scoop kinda day</h6>
				</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<p style="margin-left: 1in;"><em><strong>Interpretations:</strong></em></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1.Two scoops of protein powder?</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2.Two scoops of ice cream</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:493px;" width="493">
	<tbody>
		<tr>
			<td style="height:1px;">
			<ul>
				<li>
				<h6>KOREAN WAR TO END! The United States, and all of its GREAT people should be very proud of what is now taking place in Korea!</h6>
				</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<p style="margin-left: 1in;"><em><strong>Interpretations:</strong></em></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1.NATO, USA, South Korea, etc will beat North Korea in a conventional or nuclear war and end the conflict</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2.NATO, USA, South Korea, etc will sign a treaty ending the Korean War with North Korea.</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:493px;" width="493">
	<tbody>
		<tr>
			<td style="height:1px;">
			<ul>
				<li>
				<h6>Tesla team celebrates Pride Month</h6>
				</li>
			</ul>
			</td>
		</tr>
	</tbody>
</table>

<p style="margin-left: 1in;"><em><strong>Interpretations:</strong></em></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1. The Tesla team is celebrating the LGBTQ Pride Month.</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pride Month is a well-known event and hence the only interpretion could be what is presented above.</p>

<p><strong>Note</strong>: Fields marked <strong>*</strong> are mandatory.</p>
</div>
</div>
</div>
</div>
<!-- End Instructions --><!-- Layout --><!-- Add a dummy var for batching purpose --><input type="hidden" value="${tweetNumber}" />
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 image"><label>Link to the Website:</label>

<div class="well">https://twitter.com/</div>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 fields">
<div class="form-group"><label for="Tweet">Tweet *:</label><textarea class="form-control" id="tweet" name="tweet" placeholder="Tweet Goes Here" rows="5"></textarea></div>

<div class="form-inline fieldset clearfix">
<div><label for="tweet_url_label">Tweet URL * :</label>&nbsp;</div>

<div class="form-group col-margin"><label class="sr-only" for="tweet_url">Tweet URL</label> <input class="form-control" id="tweet_url" name="tweet_url" placeholder="Tweet Url Goes Here" type="text" /></div>

<p><strong>Tweet Source Account Name *:</strong></p>

<div class="form-group col-margin"><label class="sr-only" for="account_name">Address Line 2:</label> <input class="form-control" id="account_name" name="account_name" placeholder=" Tweet Account Name Goes here" type="text" /></div>

<p><strong>Tweet Source Account URL *:&nbsp;</strong></p>

<div class="form-group col-margin"><label class="sr-only" for="account_url">Account URL:</label> <input class="form-control" id="account_url" name="account_url" placeholder="Account URL Goes Here" type="text" /></div>

<p>&nbsp;</p>

<div class="form-group"><label for="interpretation_1">Interpretation-1 *</label><textarea class="form-control" id="interpretation_1" name="interpretation_1" placeholder="Interpretation 1" rows="5"></textarea></div>

<p><strong>Interpretation-1 Likelihood Score (1-10)*</strong></p>

<div class="form-group col-margin"><label class="sr-only" for="likely_score_1">Likely Score:</label> <input class="form-control" id="likely_score_1" name="likely_score_1" type="number" /></div>

<p>&nbsp;</p>

<div class="form-group"><span style="font-weight: 700;">Interpretation-2 *</span><textarea class="form-control" id="interpretation_2" name="interpretation_2" placeholder="Interpretation 2" rows="5"></textarea></div>

<p><strong>Interpretation-2 Likelihood Score (1-10)*</strong></p>

<div class="form-group col-margin"><label class="sr-only" for="likely_score_2">Likely Score:</label> <input class="form-control" id="likely_score_2" name="likely_score_2" type="number" /></div>

<p>&nbsp;</p>

<div class="form-group"><span style="font-weight: 700;">Interpretation-3</span><textarea class="form-control" id="interpretation_3" name="interpretation_3" placeholder="Interpretation 3" rows="5"></textarea></div>

<p><strong>Interpretation-3 Likelihood Score (1-10)</strong></p>

<div class="form-group col-margin"><label class="sr-only" for="likely_score_3">Likely Score:</label> <input class="form-control" id="likely_score_3" name="likely_score_3" type="number" /></div>

<p>&nbsp;</p>

<p><strong>Go to <a href="http://ambiguity.ismlab.usf.edu/" target="_blank">http://ambiguity.ismlab.usf.edu/</a>. Paste the tweet in the texbox, click "Get Parse Trees" and fill below.</strong></p>

<p><strong>Probability 1</strong></p>
<div class="form-group col-margin"><label class="sr-only" for="probability_1">Probability 1:</label> <input class="form-control" id="probability_1" name="probability_1" type="number" /></div>
<p><strong>Probability 2</strong></p>
<div class="form-group col-margin"><label class="sr-only" for="probability_2">Probability 2:</label> <input class="form-control" id="probability_2" name="probability_2" type="number" /></div>

</div>
</div>
</div>
</section>
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" rel="stylesheet" />
<style type="text/css">.panel-primary>.panel-heading{background-color:green;} .panel-primary {border-color: green;} .form-inline select.form-control{ width: 100%; } input.form-control{ width: 100%; } #collapseTrigger{ color:#fff; display: block; text-decoration: none; } #submitButton{ white-space: normal; } .image{ margin-bottom: 15px; } .group-label{ display: block; } .radio-inline>label{ font-weight: normal; } .col-margin{ padding: 0 2px 0 0; margin-bottom: 5px; } .col-margin:last-child{ padding-right: 0; } .form-group, .form-group.col-margin{ width: 100%; margin-bottom: 5px; } .form-group.fieldset, .fieldset{ margin-bottom: 15px; } .hour-label{ margin-top: 5px; font-weight: normal; } /* CSS for breaking long words/urls */ .dont-break-out { overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -ms-hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto; }
</style>
