<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="https://ambiguityismlab.github.io/">Investigation of error-resistant and error-prone messages</a>
  </div>
  <div class="wrap">
	<p>(Research funded by the National Science Foundation under grant <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1651475&HistoricalAwards=false">#1651475.</a> 
	Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation)</p>
  </div>	
</header>
