<!DOCTYPE html>
<html>
{% include head.html %}
	<body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
			<h1>About</h1>
			<ul>
				<li>
					<a class="page-link" href="{{ "/http://ambiguity.ismlab.usf.edu/ap.ww/abtus.html" | prepend: site.baseurl }}">Know about the project and team</a>
				</li>
			</ul>
			<h1>Data</h1>
			<ul>
				<li>
					<a class="page-link" href="{{ "/design.html" | prepend: site.baseurl }}">See our data collection template</a>
				</li>
			</ul>
       </div>
    </div>

    {% include footer.html %}

    </body>
</html>